<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>zola-kata-001</title>

    <link rel="apple-touch-icon" sizes="180x180" href="{{ get_url(path="apple-touch-icon.png") }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ get_url(path="favicon-32x32.png") }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ get_url(path="favicon-16x16.png") }}">
    <link rel="manifest" href="{{ get_url(path="site.webmanifest") }}">

    <link rel="stylesheet" href="{{ get_url(path="semantic-2.4.1.min.css") }}"/>
    <link rel="stylesheet" href="{{ get_url(path="style.css") }}"/>

    <link href="https://fonts.googleapis.com/css2?family=Karla&display=swap" rel="stylesheet">
</head>
<body>

<header>
  <div class="ui menu">
    <a class="header item" href="{{ get_url(path="/")}}">Zola Kata 001</a>
    <a class="item" href="{{ get_url(path="@/gpu/_index.md")}}">Graphic Cards</a>
    <a class="item" href="{{ get_url(path="@/test.md")}}">Formatting Test</a>


    <div class="right menu">
      <div class="item">
        <div class="ui category search">
          <div class="ui icon input">
            <input class="prompt" type="text" placeholder="Search...">
            {# <i class="search icon"></i> #}
          </div>
          <div class="results"></div>
        </div>
      </div>
    </div>

  </div>
</header>

<div class="ui grid container">
  {% block content %}

  {% endblock  %}
</div>

<div class="ui grid container">
  <div class="sixteen wide column">
    <div class="ui grid stackable padded">
      <div class="sixteen wide column single-price-grid-component__description__body">
        <div class="single-price-grid-component__description__content">
          <h1>Join our community</h1>
          <h2>30-day, hassle-free money back guarantee</h2>
          <p>Gain access to our full library of tutorials along with expert code reviews.    Perfect for any developers who are serious about honing their skills.</p>
        </div>
      </div>
      <div class="eight wide column single-price-grid-component__pricing__body">
        <div class="single-price-grid-component__pricing__content">
          <h3>Monthly Subscription</h3>
          <p><span class="monetary-value">$29</span><span class="period">per month</span></p>
          <p>Full access for less than $1 a day</p>
          <a class="fluid large ui button">Sign Up</a>
        </div>
      </div>
      <div class="eight wide column single-price-grid-component__reasons__body">
        <div class="single-price-grid-component__reasons__content">
          <h3>Why Us</h3>
          <p>Tutorials by industry experts</p>
          <p>Peer & expert code review</p>
          <p>Coding exercises</p>
          <p>Access to our GitHub repos</p>
          <p>Community forum</p>
          <p>Flashcard decks</p>
          <p>New videos every week</p>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="{{ get_url(path="jquery-3.5.1.min.js") }}"></script>
<script type="text/javascript" src="{{ get_url(path="semantic-2.4.1.min.js") }}"></script>
<script type="text/javascript" src="{{ get_url(path="elasticlunr.min.js") }}"></script>
<script type="text/javascript" src="{{ get_url(path="search_index.en.js") }}"></script>
<script type="text/javascript" src="{{ get_url(path="search.js") }}"></script>

</body>
</html>
